<app-card cardTitle="{{this.router.url.split('/')[2].split('-')[1].toUpperCase()}} Add" [options]="false" >

  <form [formGroup]="fileForm" (ngSubmit)="handleSubmit()" #formSection>
    <div class="row">
      <div class="mb-3 col-lg-6">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" >
        <input type="hidden" value="acts" class="form-control" formControlName="title">
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">{{this.router.url.split('/')[2].split('-')[1] === 'letter' ? 'Letter' : 'Document'}} Number</label>
        <input type="text" class="form-control" formControlName="docnumber" >
        <input type="hidden" value="acts" class="form-control" formControlName="title">
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">Document Date</label>
        <input type="date" class="form-control" formControlName="docdate" >
        <input type="hidden" value="date" class="form-control" formControlName="title">
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">Description</label>
        <input type="text" class="form-control"  formControlName="desc" >
        <input type="hidden" value="acts" class="form-control" formControlName="desc">
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">{{this.router.url.split('/')[2].split('-')[1].toUpperCase()}} File</label>
        <div class="text-info" *ngIf="selectedFileName">Selected File: {{ selectedFileName }}</div>

        <input type="file" class="form-control" (change)="onFileSelect($event)" accept=".pdf" formControlName="file" >
        <input type="hidden" value="acts" class="form-control" formControlName="type">
      </div>
    </div>

    <button type="submit" class="btn col-2 btn-primary" *ngIf="!loader">{{isUpdate ? "Update" : "Add"}}</button>
    <div class="spinner-border text-dark" role="status" *ngIf="loader">
      <span class="sr-only">Loading...</span>
    </div>
  </form>


</app-card>


<app-card cardTitle="{{this.router.url.split('/')[2].split('-')[1].toUpperCase()}} List" [options]="false">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Files</th>
        <th scope="col">Title</th>
        <th scope="col">{{this.router.url.split('/')[2].split('-')[1] === 'letter' ? 'Letter' : 'Document'}} Number</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of List; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <th scope="row">{{ list.title ?? '--' }}</th>
        <th scope="row">{{ list.docnumber ?? '-' }}</th>
        <th scope="row">{{ list.docdate ?? '--' }}</th>
        <th scope="row">{{ list.desc ?? '--' }}</th>
        <td>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'acts'" [href]="imgUrl + list.actsFile" target="_blank">
            {{ list.actsFile }}
          </a>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'circular'" [href]="imgUrl + list.circularFile" target="_blank">
            {{ list.circularFile }}
          </a>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'notification'" [href]="imgUrl + list.notificationFile" target="_blank">
            {{ list.notificationFile }}
          </a>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'downloads'" [href]="imgUrl + list.downloadsFile" target="_blank">
            {{ list.downloadsFile }}
          </a>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'minutes'" [href]="imgUrl + list.minutesFile" target="_blank">
            {{ list.minutesFile }}
          </a>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'letter'" [href]="imgUrl + list.letterFile" target="_blank">
            {{ list.letterFile }}
          </a>
          <a *ngIf="router.url.split('/')[2].split('-')[1] === 'curriculum'" [href]="imgUrl + list.curriculumFile" target="_blank">
            {{ list.curriculumFile }}
          </a>
        </td>
        <td>
          <a class="btn btn-info btn-sm" (click)="handleEdit(list,1)"><i
            class="fa fa-edit"></i></a>

            <!-- <input type="checkbox" [checked]="list.status === 1" disabled (change)="handleEdit(list,1)" class="form-check"/> -->

          <button class="btn btn-sm btn-danger" *ngIf="list.idDeleted === 0" (click)="handleDelete(list.id,1)"><i *ngIf="!this.loaders" class="fa fa-trash"></i>
            <div class="spinner-border" role="status" *ngIf="this.loaders">
              <span class="sr-only">Loading...</span>
            </div>


          </button>
          <button class="btn btn-sm btn-success" *ngIf="list.idDeleted === 1" (click)="handleDelete(list.id,0)"><i class="fa fa-check"></i></button>
        </td>
      </tr>

    </tbody>
  </table>
</app-card>
