<app-header></app-header>

<section class="position-relative w-100"
  style="height: 250px; background: url('https://college-website-brown-one.vercel.app/assets/indian-institute-of-technology-iit-patna.avif') center/cover no-repeat;">
  <!-- Overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgb(106 175 255 / 50%);"></div>

  <!-- Content -->
  <div
    class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-start text-white px-5">
    <h1 class="fs-2 fw-bold text-light">{{this.router.url.split('/')[1].toUpperCase()}}</h1>

    <nav class="mt-2">
      <ul class="breadcrumb bg-primary">
        <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">About</a></li> -->
        <li class="breadcrumb-item active text-white" aria-current="page">{{this.router.url.split('/')[1] }}</li>
      </ul>
    </nav>

    <!-- Divider -->
    <div class="border-top border-white mt-2" style="width: 100%; opacity: 0.6;"></div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-lg-3 custom_postion">
      <div class="list-group custom_list">
        <!-- <a [routerLink]="'/'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">Home</a> -->
        <a [routerLink]="'/acts'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Acts
        </a>
        <a [routerLink]="'/circular'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Circular
        </a>
        <a [routerLink]="'/notification'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Notification
        </a>
        <a [routerLink]="'/links'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Important Links
        </a>
        <a [routerLink]="'/downloads'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Downloads
        </a>
        <a [routerLink]="'/minutes'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Minutes
        </a>
        <a [routerLink]="'/letter'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Letter
        </a>
        <!-- <a [routerLink]="'/curriculum'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
          <span class="text-primary mx-3">»</span>Curriculum
        </a> -->
      </div>
    </div>
    <div class="col-lg-9" >
      <!-- {{this.flag}} -->
      <div *ngIf="showSection">
        <table class="table table-bordered table-striped my-5" >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">{{this.router.url.split('/')[1] === 'letter' ? 'Letter' : 'Document'}} Date</th>
              <th scope="col">{{this.router.url.split('/')[1] === 'letter' ? 'Letter' : 'Document'}} Number</th>
              <th scope="col">Description</th>
              <th style="width: 100px;">Download</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of List; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <th scope="row">{{list.title}}</th>
              <th scope="row">{{list.docdate ?? '--'}}</th>
              <th scope="row">{{list.docnumber ?? '--'}}</th>
              <th scope="row">{{list.desc}}
                <ng-container *ngIf="list.createdAt === list.updatedAt; else updatedBlock">
                  <!-- <img src="your-image-path.png" alt="new" /> -->
                  <img src="https://aktu.ac.in/images/new_red.gif" width="50px"/>
                </ng-container>
                <ng-template #updatedBlock>
                  <img src="https://freepngimg.com/thumb/update_button/25530-9-update-button-image.png" width="50px"/>
                </ng-template>
              </th>

              <td>
                <a *ngIf="this.router.url.split('/')[1] === 'acts'" target="_blank" class="btn btn-sucess btn-sm" [href]="imgUrl + list.actsFile">
                  <i class="fa fa-file-download"></i> Download
                </a>
                <a *ngIf="this.router.url.split('/')[1] === 'circular'" target="_blank" class="btn btn-sucess btn-sm" [href]="imgUrl + list.circularFile">
                  <i class="fa fa-file-download"></i> Download
                </a>
                <!-- <a *ngIf="this.router.url.split('/')[1] === 'notification'" target="_blank" class="btn btn-sucess btn-sm" [href]="imgUrl + list.notificationFile">
                  <i class="fa fa-file-download"></i> Download
                </a> -->
                <a *ngIf="this.router.url.split('/')[1] === 'downloads'" target="_blank" class="btn btn-sucess btn-sm" [href]="imgUrl + list.downloadsFile">
                  <i class="fa fa-file-download"></i> Download
                </a>
                <a *ngIf="this.router.url.split('/')[1] === 'minutes'" target="_blank" class="btn btn-sucess btn-sm" [href]="imgUrl + list.minutesFile">
                  <i class="fa fa-file-download"></i> Download
                </a>
                <a *ngIf="this.router.url.split('/')[1] === 'letter'" target="_blank" class="btn btn-sucess btn-sm" [href]="imgUrl + list.letterFile">
                  <i class="fa fa-file-download"></i> Download
                </a>
                <a *ngIf="this.router.url.split('/')[1] === 'curriculum'" target="_blank" class="btn btn-primary btn-sm" [href]="imgUrl + list.curriculumFile">
                  <i class="fa fa-file-download"></i> Download
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <ng-template #noData>
          <p class="text-center text-danger my-5">No data available</p>
        </ng-template> -->
      </div>
      <div *ngIf="this.router.url.split('/')[1] === 'notification'">
        <table class="table table-bordered table-striped my-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Notification</th>
              <th scope="col">Link</th>
              <!-- <th style="width: 100px;"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of this.noticeBoard; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ list.noticedate ?? '--' }}</td>
              <td>{{ list.board ?? '--' }}</td>
              <td>
                <a *ngIf="list.link" [href]="baseUrl + list.link" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-eye"></i> View
                </a>
                <!-- <ng-container *ngIf="list.createdAt === list.updatedAt; else updatedBlock">
                  <img src="https://aktu.ac.in/images/new_red.gif" width="50px" alt="new" class="ms-2"/>
                </ng-container>
                <ng-template #updatedBlock>
                  <img src="https://freepngimg.com/thumb/update_button/25530-9-update-button-image.png" width="50px" alt="updated" class="ms-2"/>
                </ng-template> -->
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <div *ngIf="this.router.url.split('/')[1] === 'links'">
        <table class="table table-bordered table-striped my-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Notification</th>
              <th scope="col">Link</th>
              <!-- <th style="width: 100px;"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of this.importantLinksData; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ list.createdAt | date: 'medium' }}</td>
              <td>{{ list.linktitle ?? '--' }}</td>
              <td>
                <a *ngIf="list.linkurl" [href]="baseUrl + list.linkurl" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-eye"></i> View
                  <!-- {{ list.linkurl ?? '--' }} -->
                </a>
                <!-- <ng-container *ngIf="list.createdAt === list.updatedAt; else updatedBlock">
                  <img src="https://aktu.ac.in/images/new_red.gif" width="50px" alt="new" class="ms-2"/>
                </ng-container>
                <ng-template #updatedBlock>
                  <img src="https://freepngimg.com/thumb/update_button/25530-9-update-button-image.png" width="50px" alt="updated" class="ms-2"/>
                </ng-template> -->
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>



</div>


<app-footer></app-footer>