<app-header></app-header>
<!-- style="height: 250px; background: url('https://college-website-brown-one.vercel.app/assets/indian-institute-of-technology-iit-patna.avif') center/cover no-repeat;"> -->
<section class="position-relative w-100"
  style="height: 250px; background: url('assets/beu-background.jpeg') center/cover no-repeat;">

  <!-- Overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgb(106 175 255 / 50%);"></div>

  <!-- Content -->
  <div
    class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-start text-white px-5">
    <h1 class="fs-2 fw-bold text-light">{{pageTitle}}</h1>

    <nav class="mt-2">
      <ul class="breadcrumb bg-primary">
        <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">GIvern</a></li> -->
        <li class="breadcrumb-item active text-white" aria-current="page">{{pageTitle}}</li>
      </ul>
    </nav>

    <!-- Divider -->
    <div class="border-top border-white mt-2" style="width: 100%; opacity: 0.6;"></div>
  </div>
</section>



<section class="py-5">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 custom_postion">
        <div class="list-group custom_list">
          <!-- <a [routerLink]="'/'" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">Home</a> -->
          <a  class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span>Organization Structure</a>
          <a [routerLink]="'/organization/chancellor'"  [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span>Hon'ble Chancellor</a>
          <a [routerLink]="'/organization/vice-chancellor'" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span>Vice Chancellor</a>
          <!-- <a [routerLink]="'/organization/chancellor'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">Chancellor</a> -->
          <!-- <a [routerLink]="'/organization/vice-chancellor'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">Vice Chancellor</a> -->
          <a [routerLink]="'/organization/executive-council'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span>Executive Council</a>
          <a [routerLink]="'/organization/academic-council'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span>Academic Council</a>
          <a [routerLink]="'/organization/finance-committee'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span>Finance Committee</a>
          <a [routerLink]="'/organization/examination-committee'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action"><span class="text-primary mx-3">»</span>Examination Board</a>
          <!-- <a [routerLink]="'/organization/building-works-committee'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action"><span class="text-primary mx-3">»</span>Building & Works Committee</a> -->

        </div>
      </div>

      <!-- Content Section -->
      <div class="col-lg-9 d-flex align-items-start position-relative">
        <div class="profile-card row" *ngIf="this.router.url === '/organization/chancellor'">
          <div class="profile-img col-12 col-lg-6 col-md-6 col-sm-12">
            <a href="https://cm.bihar.gov.in/users/home.aspx" target="_blank">
              <!-- <img src="https://cmo.bihar.gov.in/assets/images/cmbihar/cmpro-pic.png" alt="Profile Image"> -->
              <img src="assets/chancellor.jpeg" alt="Profile Image">
            </a>
          </div>
          <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <h2 class="name text-center mt-4">Shri Nitish Kumar</h2>
            <p class="text-center">

              <i class="designation text-center">Hon'ble Chief Minister, Bihar - cum -Hon'ble Chancellor <br> Bihar Engineering University, Patna</i>
            </p>
          </div>
        </div>
        <div class="profile-card row" *ngIf="this.router.url === '/organization/vice-chancellor'">
          <div class="profile-img col-12 col-lg-6 col-md-6 col-sm-12">
            <img src="https://i1.rgstatic.net/ii/profile.image/1020399039037441-1620293497466_Q512/Suresh-Verma-6.jpg" alt="Profile Image">
          </div>
          <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <p class="text-center mt-3"><small>
              Prof Suresh Kant Verma is currently serving as Vice Chancellor, Bihar Engineering University, Patna, Bihar.
                Prior to this, he was Deputy Director, National Institute of Technology, Patna. He holds B.Sc (Engg.), M.Sc
                (Engg.) and Ph.D (Engg.) from BIT, Sindri, Ranchi University, Ranchi. His Specialization is Heat Power
                Engineering. His area of research includes Solar Energy, Stirling Cycle Engine and Computational Fluid
                Dynamics. He has also contributed in the development of NIT Patna by taking responsibility at key positions
                like Head of the Department (Mechanical Engineering), Dean (Student Welfare), Dean (Academic) and Chairman
                (ACoFAR). He is Fellow of the Institution of Engineers (India). He has also the membership of Professional
                Societies like, Indian Society of Mechanical Engineers, Indian Society for Technical Education, Solar Energy
                Society of India and American Society of Mechanical Engineers. He has published the research papers in the
                National and International Journals and also has presented papers in the International and National
                conferences. He has guided M.Sc (Engg.) / M.Tech and Ph.D research scholars.

              </small></p>
              <h5 class="text-end">Prof. Suresh Kant Verma </h5>
              <p class="text-end mb-2">
                Vice- Chancellor
              </p>

              <p class="text-end">
                Bihar Engineering University, Patna
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
