<header class="w-100" >
  <div class="d-flex b-sm-flex d-lg-flex d-md-flex justify-content-center align-items-center border-bottom border-primary border-dashed bg-light text-primary fw-semibold small" style="height: 27px;">
    <ul class="d-flex list-unstyled m-0">
      <!-- <li class="px-3 py-2 border-end border-primary cursor-pointer hover-text-warning"  [routerLink]="'/'">Home</li> -->
      <li class="px-3 py-2 border-end border-primary cursor-pointer hover-text-warning">Tender</li>
      <li class="px-3 py-2 border-start border-end border-primary cursor-pointer hover-text-warning">Fee Structure</li>
      <li class="px-3 py-2 border-end border-primary cursor-pointer hover-text-warning"  [routerLink]="'/Placement'">Placement</li>
      <li class="px-3 py-2 border-end border-primary cursor-pointer hover-text-warning"  [routerLink]="'/Recruitment'">Recruitment</li>
      <li class="px-3 py-2 border-end border-primary cursor-pointer hover-text-warning"  [routerLink]="'/Faq'">FAQs</li>
      <li class="px-3 py-2 border-end border-primary cursor-pointer hover-text-warning">Contact Us</li>
      <li class="px-3 py-2 cursor-pointer hover-text-warning"><a href="https://beu-bih.ac.in/admin" target="_blank" rel="noopener noreferrer">Login</a></li>
      <li class="px-3 py-2 cursor-pointer hover-text-warning"><div id="google_translate_element"></div></li>

    </ul>
  </div>

  <div class="">
    <!-- container p-0 m-0 d-flex flex-column flex-lg-row align-items-lg-center justify-content-between -->
    <div class="d-none flex-column flex-lg-row align-items-center gap-3 w-100">

      <div class="d-flex justify-content-center">
        <!-- Image for Mobile View -->
        <img src="https://iplfans.in/beu/images/beu_logo.jpeg" alt="BEU Logo"
          class="img-fluid   d-none d-sm-none d-md-block d-lg-block d-xl-block" style="width:5rem; margin-right: 1rem;">

        <!-- Image for Desktop View -->
        <img src="https://iplfans.in/beu/images/beu_logo.jpeg" alt="BEU Logo"
          class="img-fluid d-block d-sm-block d-md-none d-lg-none d-xl-none" style="width:5rem; margin-right: 1rem;">
        <img src="https://college-website-brown-one.vercel.app/assets/governmentOfBihar.webp"
          alt="governmentOfBihar logo" class="img-fluid d-block d-sm-block d-md-none d-lg-none d-xl-none"
          style="width: 5rem;">
      </div>
      <div class="text-center w-100">
        <h2 class="h4 fw-bold">Bihar Engineering University, Patna </h2>
        <h2 class="h4 fw-bold">बिहार अभियंत्रण विश्‍वविद्यालय, पटना</h2>
      </div>
    </div>
    <a routerLink="/">

      <img src="../../../../../assets/logo.png" class="w-100 p-0" />
    </a>
    <!-- Image for Desktop View -->
    <!-- <img src="https://college-website-brown-one.vercel.app/assets/governmentOfBihar.webp" alt="governmentOfBihar logo"
      class="img-fluid   d-none d-sm-none d-md-block d-lg-block d-xl-block" style="width: 4rem;"> -->

    <div id="google_translate_element"></div>
  </div>


  <nav class="navbar navbar-expand-md navbar-dark bg-primary p-0">
    <div class="container btn_navss">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"  (click)="toggleNavbar()" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav"  [ngClass]="{ 'open': isNavbarOpen, 'closed': !isNavbarOpen }"   #navbarCollapse
>
        <ul class="navbar-nav">
          <ng-container *ngTemplateOutlet="renderMenu; context: { items: menuItems }"></ng-container>
        </ul>
      </div>

      <ng-template #renderMenu let-items="items">
        <ng-container *ngFor="let item of items">
          <li
            class="nav-item"
            [ngClass]="{ 'dropdown': item.subItems?.length > 0 }"
            (mouseenter)="onMouseEnter(item)"
            (mouseleave)="onMouseLeave(item)"
            (click)="toggleDropdown(item, $event)"
          >
            <!-- <a
              class="nav-link text-dark"
              [ngClass]="{ 'dropdown-toggle': item.subItems?.length > 0 }"
              [routerLink]="item.link || null"
              role="button"
            >
              {{ item.title || item.label }}
            </a> -->


            <!-- *ngIf="item.title !== 'Result' " -->
            <a
                class="nav-link text-dark"
                [ngClass]="{ 'dropdown-toggle': item.subItems?.length > 0 }"
                [routerLink]="item.link || null"
                role="button"
              >
                {{ item.title || item.label }}
              </a>
              <!-- <a
                *ngIf="item.title === 'Result' "
                class="nav-link text-dark"
                [href]="item.link"
                target="_blank"
                role="button"
              >
                {{ item.title || item.label }} -->
              <!-- </a> -->




            <ul class="dropdown-menu" [ngClass]="{ 'show': item.isOpen }" *ngIf="item.subItems?.length > 0">
              <ng-container *ngTemplateOutlet="renderMenu; context: { items: item.subItems }"></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>







    </div>
  </nav>
</header>



<a href="tel:0612-2385475">
  <div
    class="position-fixed bottom-0 start-20 z-3 d-flex align-items-center gap-2 p-2 bg-primary text-white rounded-pill w-auto shadow-lg">
    <i class="fa fa-phone text-white fs-2"></i>
    <div>
      <p class="mb-0 small">Student's Grievance Help Desk</p>
      <p class="mb-0">Call Us: 0612-2385475</p>
    </div>
  </div>
</a>



<!-- back-to-top button -->
<button
  class="back-to-top"
  (click)="scrollToTop()"
  *ngIf="showBackToTop"
>
  ↑ Back to Top
</button>

<div class="position-fixed  translate-middle-y d-flex gap-2 rotate-n90">
  <button class="btn btn-primary shadow-sm px-4 py-2 opacity-0">
    Minutes
  </button>
  <button class="btn btn-primary shadow-sm px-4 py-2">
    <a href="https://beu.intelliexams.com/beuexams/LoginScreens/frmStudentLoginPage.aspx" target="_blank"
      class="text-light">
      BEU ERP
    </a>
  </button>
</div><!-- Button trigger modal -->
