<app-card cardTitle="Create Session" [options]="false">
  <form class="row" autocomplete="off" [formGroup]="courseForm" (ngSubmit)="handleSubmit()" #formSection>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Select Course</label>
      <select class="form-select form-control" (change)="onItemSelect($event)" formControlName="courseID">
        <option *ngFor="let items of courseOptions" [value]="items.id">{{items.title}}</option>
      </select>
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Syllabus Session</label>
      <input type="text" class="form-control" id="exampleInputEmail1" formControlName="session">
    </div>
  </form>
  <div class="spinner-border text-dark" role="status" *ngIf="this.sloader == true">
    <span class="sr-only">Loading...</span>
  </div>
  <a type="submit" (click)="handleSubmit()" class="btn btn-primary w-25" *ngIf="this.sloader == false"
    width="100px">{{isUpdate ? "Update" : "Submit"}}</a>

</app-card>




<app-card cardTitle="Session List" [options]="false">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course</th>
        <th scope="col">Session</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Show fallback if courseList is empty -->
      <tr *ngIf="courseList.length === 0">
        <td colspan="4" class="text-center text-muted">No records found</td>
      </tr>

      <!-- Otherwise show data -->
      <tr *ngFor="let list of courseList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <span *ngIf="list.courseID === 1">B.Tech</span>
          <span *ngIf="list.courseID === 2">M.Tech</span>
          <span *ngIf="list.courseID === 3">PHD</span>
        </td>
        <td>{{ list.session }}</td>
        <td>
          <a class="btn btn-danger btn-sm" (click)="handleDelete(list.id)">
            <i class="fa fa-trash"></i>
          </a>
          &nbsp;
          <a class="btn btn-info btn-sm" (click)="handleEdit(list)">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>
