<div class="row">
  <!-- order-card start -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <a routerLink="'/admin/add-banner'">
        <h6 class="text-white">Total Banner</h6>
        <h2 class="text-end text-white"><i class="feather icon-image float-start"></i><span>{{this.bannerCount ??
            0}}</span>
        </h2>
      </a>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <a routerLink="'/admin/add-affiliation'">
      <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
        <h6 class="text-white">Total Affiliation</h6>
        <h2 class="text-end text-white"><i class="feather icon-user float-start"></i><span>{{this.affiliation ??
            0}}</span>
        </h2>
      </app-card>
    </a>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green oorder-card">
      <h6 class="text-white">Total Notice Board</h6>
      <h2 class="text-end text-white"><i class="fa fa-note-sticky float-start"></i><span>{{this.noticeBoardCount ??
          0}}</span>
      </h2>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Total Important Link</h6>
      <h2 class="text-end text-white"><i class="fa fa-link float-start"></i><span>{{this.impLinkCount ?? 0}}</span>
      </h2>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
        <h6 class="text-white">Total Audit</h6>
        <h2 class="text-end text-white"><i class="fa fa-file float-start"></i><span>{{0}}</span>
        </h2>
    </app-card>
  </div>
  <!-- <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <a routerLink="'/admin/add-banner'">
        <h6 class="text-white">Total Reports</h6>
        <h2 class="text-end text-white"><i class="fa fa-file float-start"></i><span>{{this.reportCount ?? 0}}</span>
        </h2>
      </a>
    </app-card>
  </div> -->
</div>
