<app-header></app-header>
<section class="position-relative w-100"
  style="height: 250px; background: url('https://college-website-brown-one.vercel.app/assets/indian-institute-of-technology-iit-patna.avif') center/cover no-repeat;">
  <!-- Overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgb(106 175 255 / 50%);"></div>

  <!-- Content -->
  <div
    class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-start text-white px-5">
    <h1 class="fs-2 fw-bold text-light">Letter</h1>

    <nav class="mt-2">
      <ul class="breadcrumb bg-primary">
        <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">Letter</li>
      </ul>
    </nav>

    <!-- Divider -->
    <div class="border-top border-white mt-2" style="width: 100%; opacity: 0.6;"></div>
  </div>
</section>


<!-- Main Content Section -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 custom_postion">
        <div class="list-group custom_list">
          <a [routerLink]="'/about/vision'" [routerLinkActive]="'active'"
            class="list-group-item list-group-item-action"> <span class="text-primary mx-3">»</span>Vision</a>
          <a [routerLink]="'/about/mission'" [routerLinkActive]="'active'"
            class="list-group-item list-group-item-action"> <span class="text-primary mx-3">»</span>Mission</a>
          <a [routerLink]="'/about/objective'" [routerLinkActive]="'active'"
            class="list-group-item list-group-item-action"> <span class="text-primary mx-3">»</span>Object</a>
        </div>
      </div>
      <!-- Content Section -->
      <div class="col-lg-9 d-flex align-items-start position-relative">
        <div class="row">
          <div class="col-lg-12 mb-4" *ngFor="let items of dataList">
            <a [routerLink]="['/academic/session', items.syllabusSessionID]">
              <div class="card custom-card text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/11633/11633223.png" class="card-img-top book-img"
                  alt="Book Image"
                  style="border-bottom:1px solid #ccc; padding:10px 2rem ; width: 250px;  margin: 0 auto;">
                <div class="card-body">
                  <h5 class="card-title">{{ items?.session }}</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>