<!-- <section class="relative w-full h-[250px] md:h-[300px] bg-cover bg-center" [style]="{'background-image': 'url(' + bannerImage + ')'}">
  <div class="absolute inset-0 bg-blue-900 bg-opacity-75 flex flex-col justify-center items-center text-white text-center px-4">
    <h1 class="text-2xl md:text-4xl font-semibold">{{ title || breadcrumbs[breadcrumbs.length - 1]?.label || 'Page Title' }}</h1>
    <p *ngIf="subTitle" class="text-sm md:text-lg mt-1">{{ subTitle }}</p>

    <nav class="mt-2">
      <ul class="flex space-x-2 text-sm md:text-lg">
        <li *ngFor="let crumb of breadcrumbs; let last = last">
          <a *ngIf="!last"  class="text-blue-200 hover:text-white">{{ crumb.label }}</a>
          <span *ngIf="last">{{ crumb.label }}</span>
          <span *ngIf="!last"> / </span>
        </li>
      </ul>
    </nav>
  </div>
</section> -->
