.vision-card {
  // max-width: 800px;
  // margin: auto;
  // border-radius: 10px;
  overflow: hidden;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.vision-header {
  background: linear-gradient(90deg, #00587a, #008891);
  color: white;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 20px;
}
.vision-body {
  background:transparent;
  padding: 20px;
  font-size: 16px;
  color: #333;
}
.vision-body ul {
  padding-left: 20px;
}
.vision-body li {
  margin-bottom: 10px;
}


.list-group {
  border: 0;
  border-left: 3px solid #4099ff;
  border: -r;
  border-radius: 0;
}


