

<app-header></app-header>

<!-- Hero Section -->
<section class="position-relative w-100" data-aos="fade-up"
  style="height: 250px; background: url('https://college-website-brown-one.vercel.app/assets/indian-institute-of-technology-iit-patna.avif') center/cover no-repeat;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-75"></div>

  <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-start text-white px-5">
    <h1 class="fs-2 fw-bold text-light">{{pageTitle}}</h1>
    <nav class="mt-2">
      <ul class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">About</a></li> -->
        <li class="breadcrumb-item active text-white" aria-current="page">{{pageTitle}}</li>
      </ul>
    </nav>
    <div class="border-top border-white mt-2 w-100 opacity-50"></div>
  </div>
</section>

<!-- Main Content Section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 custom_postion" data-aos="fade-up">
        <div class="list-group custom_list">
          <a [routerLink]="'/about/vision'"  [routerLinkActive]="'active'" class="list-group-item list-group-item-action">  <span class="text-primary mx-3">»</span>Vision</a>
          <a [routerLink]="'/about/mission'" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">  <span class="text-primary mx-3">»</span>Mission</a>
          <a [routerLink]="'/about/objective'" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">  <span class="text-primary mx-3">»</span>Object</a>
          <!-- <a [routerLink]="'/about/history'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> History
          </a> -->
          <a [routerLink]="'/about/university-act'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> University Act
          </a>
          <a class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> UG
          </a>
          <a   class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> PG
          </a>
          <a  class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> Ph.D
          </a>
          <!-- <a [routerLink]="'/about/noida-campus'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> Noida Campus
          </a> -->
          <a [routerLink]="'/about/university-logo'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> University Logo
          </a>
          <!-- <a [routerLink]="'/about/annual-report'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> Annual Report 2016
          </a> -->
          <!-- <a [routerLink]="'/about/data-privacy-policy'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            <span class="text-primary mx-3">»</span> AKTU Data Privacy Policy
          </a> -->
        </div>
      </div>
      <!-- Content Section -->
      <div class="col-lg-9 d-flex align-items-start justify-content-center position-relative" data-aos="fade-up">
        <!-- Circular Image -->
         <!-- <div class="position-absolute top-10">
           <div class="rounded-circle position-relative overflow-hidden me-4" style="width:250px; height: 250px;">
             <img src="https://college-website-brown-one.vercel.app/assets/indian-institute-of-technology-iit-patna.avif"
               class="w-100 h-100 object-fit-cover" />
             <div class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-75"></div>
           </div>
         </div> -->

        <!-- Vision/Mission Content -->
        <div class="vision-card z-1">
          <!-- {{console.log(pageTitle)}} -->

          <div class="vision-body" *ngIf="pageTitle === 'Vision'">
            <div class="vision-header">
              {{pageTitle}}
            </div>

            <ul>
              <li>To provide and upgrade the knowledge of Applied Science, Engineering & Technology, Architecture &
                Planning, and Management as well as research in the fields of technical education.</li>
              <li>To create entrepreneurship in an encouraging environment to pursue technical education in close
                cooperation with industries.</li>
              <li>To develop an environment for the advancement of the quality of life of mankind in general and in relation
                to the domain of engineering and technological development and applications.</li>
            </ul>
          </div>
          <div class="vision-body" *ngIf="pageTitle === 'Mission'">
            <div class="vision-header">
              {{pageTitle}}
            </div>
            <ul>
              <li>To develop flexible and innovative academic programmes to cater the need of students with different
                background, and prepare them to compete at the national and international levels.</li>
              <li>To emphasis on knowledge creation through a well-planned research programme in emerging areas, and
                application of knowledge by undertaking issues and problems from the industry.
              </li>
              <li>To emphasis on the overall development of a well-rounded personality of its students with both
                professional and emotional maturity to take up the challenges in their chosen profession, and to contribute
                to the development of society.
              </li>
            </ul>
          </div>

          <div class="vision-body" *ngIf="pageTitle === 'Objective'">
            <div class="vision-header">
              {{pageTitle}}
            </div>
            <ul>
              <li>To create institutes and centers of excellence for imparting State-of the art education, training and
                research in the fields of Engineering and Technology as well as Architecture and Planning, Management;</li>
              <li>To create capabilities for the development of knowledge, skill, and competency at various levels.
              </li>
              <li>To create capabilities for upgrading the infrastructure of global standards for education, training, and
                research in the areas related to Engineering and Technology, Architecture and Planning, Management, and
                Science.
              </li>
              <li>
                To develop patterns of teaching and training at various levels of educational accomplishments so as to set
                high standards of education in Science, Engineering and Technology, Architecture and Planning, and
                Management.
              </li>
              <li>
                To function as a leading resource centre for knowledge management and entrepreneurship development in the
                areas of Science, Engineering and Technology, Architecture and Planning, and Management.
              </li>
              <li>
                To provide inter-relationship for national and global participation in the fields of Science, Engineering
                and Technology, Architecture and Planning, and Management.
              </li>
              <li>
                To establish close linkages with industry to make teaching, training, and research at the University
                relevant to the needs of the industry at national and global levels.
              </li>
              <li>
                To make such provisions as would enable affiliated colleges to undertake specialization of studies.
              </li>
            </ul>
          </div>

          <div *ngIf="pageTitle === 'Regulations' || pageTitle === 'University Logo' || pageTitle === 'University Act'">
            <h1 class="text-center w-100">To be updated soon</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
