<app-card cardTitle="Create Modal" [options]="false" >

  <form  [formGroup]="modalForm" (ngSubmit)="handleSubmit()">
    <div class="row">
      <div class="mb-3 col-lg-6">
        <label class="form-label">Media File</label>
        <label class="form-label">Media File</label>
        <input type="file" class="form-control" (change)="onFileSelect($event)" accept="image/*"  formControlName="file">

        <!-- Image preview -->
        <img *ngIf="imagePreview" [src]="imgUrl+imagePreview" alt="Preview" class="mt-2" width="200" height="auto">
        <button *ngIf="imagePreview"  class="btn btn-danger btn-sm" (click)="handleDelete(this.modalList.data[0].id)">
          <i class="fa fa-trash "></i>
        </button>


      </div>
    </div>
    <button type="submit" (click)="handleSubmit()" class="btn col-2 btn-primary" *ngIf="this.loader == false">Add</button>
    <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
      <span class="sr-only">Loading...</span>
    </div>
  </form>

</app-card>


<!-- <app-card cardTitle="Modal List" [options]="false">
  <table class="table" *ngIf="this.modalList.data.length > 0;else elsePart">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">File</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of this.modalList?.data; index as i">
        <th scope="row">{{i+1}} </th>
        <td><img [src]="imgUrl+list.modalUrl" class="w-100" /></td>
        <td><a class="btn btn-danger btn-sm" (click)="handleDelete(list.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>
  <ng-template #elsePart>
    <div class="alert alert-danger" role="alert">
      There is no course created yet !
    </div>
  </ng-template>

</app-card> -->
