.CUSTsidebar {
  background-color: #1978c5; // Custom dark (alternative to Bootstrap bg-dark)
  // color: #f8f9fa; // Light text
}
.nav-link.active {
  background-color: rgb(46, 5, 85); /* Light background for dark sidebar */
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
}
.nav-link:hover {
  background-color: rgb(50, 64, 215);
  color: rgb(217, 255, 0);
}
.nav-link{
  background-color: rgb(255, 255, 255);
  border: 3px solid red;
  color: #620000;
  border-radius: 15%;
}