<footer class="bg-primary text-white py-4">
  <div class="container">
    <div class="row gy-4">
      <!-- University Info -->
      <div class="col-12 col-md-6 col-lg-6">
        <h4 class="fw-bold text-lg text-light pt-1">Bihar Engineering University, Patna </h4>
        <h4 class="fw-bold text-lg pt-1 text-light">बिहार अभियंत्रण विश्‍वविद्यालय, पटना</h4>

        <p class="text-white small">
          Bihar Engineering University (BEU), Patna has been established by the Government of Bihar vide
          Bihar Engineering University, ACT, 2021 (Act No. 20 of 2021), published in the Bihar Gazette
          No.-677 date 09/08/2021.
        </p>

      </div>

      <!-- Address -->
      <div class="col-12 col-md-6 col-lg-3">
        <h4 class="fw-bold text-lg text-light py-3">Address</h4>
        <p class="text-white small">
          Bihar Engineering University, 6th Floor, Examination Block, Aryabhatta Knowledge University,
          Mithapur, Patna – 800001, Bihar
        </p>
        <h4 class="fw-bold text-lg pt-3 text-light">Contact Us</h4>
        <p class="text-white-50 small">Phone: <a href="tel:0612-2385475" class="text-white">0612-2385475</a></p>
        <p class="text-white-50 small">Email: <a class="text-white" href="mailto:beubihar@gmail.com">beubihar@gmail.com</a></p>
      </div>

      <!-- Useful Links -->
      <div class="col-12 col-md-6 col-lg-3">
        <h4 class="fw-bold text-lg py-3 text-light">Useful Links</h4>
        <ul class="list-unstyled text-white small m-0">
          <li><a href="https://state.bihar.gov.in/main/CitizenHome.html" target="_blank" class="text-white text-decoration-none d-block py-1">Bihar Government</a></li>
          <li><a href="https://www.aicte-india.org/" target="_blank" class="text-white text-decoration-none d-block py-1">AICTE</a></li>
          <li><a href="https://www.ugc.gov.in/" target="_blank" class="text-white text-decoration-none d-block py-1">UGC</a></li>
          <li><a href="https://onlinecourses.nptel.ac.in/" target="_blank" class="text-white text-decoration-none d-block py-1">NPTEL</a></li>
        </ul>
        <h5 class="fw-bold pt-3 text-light">Follow Us</h5>
        <div class="d-flex justify-content-start gap-3 mt-2">
          <a href="#" class="social-icon facebook"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon linkedin"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
        </div>

      </div>

    </div>
  </div>

</footer>
<div class="m-0 bg-primary text-white p-2">
  <hr class="m-0 py-2 text-light" style="border-color: #fff"/>
  <!-- <p class="m-0 mb-3 text-center">Copyright  {{ today | date:'yyyy' }}  ©  Reserved By <b>BEU</b> | Devlope & Maintain by <i><a href="https://anantdrishti.com/"><u class="text-light">Anantadrishti Technologies Pvt. Ltd.</u> </a></i> </p> -->
  <p class="m-0 mb-3 text-center">Copyright © {{ today | date:'yyyy' }}  All rights reserved By <b>BEU</b>. | Developed  & maintained by <i><a href="https://anantdrishti.com/"><u class="text-light">Anantadrishti Technologies Pvt. Ltd.</u> </a></i> </p>
</div>
