<footer class="bg-primary text-white py-4">
  <div class="container">
    <div class="row gy-4">
      <!-- University Info -->
      <div class="col-12 col-md-6 col-lg-6">
        <h4 class="fw-bold text-lg text-light pt-1">Bihar Engineering University, Patna </h4>
        <h4 class="fw-bold text-lg pt-1 text-light">बिहार अभियंत्रण विश्‍वविद्यालय, पटना</h4>

        <p class="text-white small">
          Bihar Engineering University (BEU), Patna has been established by the Government of Bihar vide
          Bihar Engineering University, ACT, 2021 (Act No. 20 of 2021), published in the Bihar Gazette
          No.-677 date 09/08/2021.
        </p>

      </div>

      <!-- Address -->
      <div class="col-12 col-md-6 col-lg-3">
        <h4 class="fw-bold text-lg text-light py-3">Address</h4>
        <p class="text-white small">
          Bihar Engineering University, 6th Floor, Examination Block, Aryabhatta Knowledge University,
          Mithapur, Patna – 800001, Bihar
        </p>
        <h4 class="fw-bold text-lg pt-3 text-light">Contact Us</h4>
        <p class="text-white-50 small">Phone: <span class="text-white">0612-2385475</span></p>
        <p class="text-white-50 small">Email: <span class="text-white">beubihar[at]gmail.com</span></p>
      </div>

      <!-- Useful Links -->
      <div class="col-12 col-md-6 col-lg-3">
        <h4 class="fw-bold text-lg py-3 text-light">Useful Links</h4>
        <ul class="list-unstyled text-white small m-0">
          <li><a href="#" class="text-white text-decoration-none d-block py-1">Bihar Government</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block py-1">AICTE</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block py-1">UGC</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block py-1">NPTEL</a></li>
        </ul>
        <h5 class="fw-bold pt-3 text-light">Follow Us</h5>
        <div class="d-flex justify-content-start gap-3 mt-2">
          <a href="#" class="text-white fs-4"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white fs-4"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white fs-4"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white fs-4"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="text-white fs-4"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
