<app-card cardTitle="Notice Board" [options]="false">
  <div class="row" #formSection>
    <!-- <div class="col-12">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary mb-3" (click)="copyToClipboard('')">Copy HTML</button>
          <ul class="list-group">
            <li #copyContent class="list-group-item font-secondary-color p-2">
              <span class="fa fa-arrow-right font-secondary-color me-2"></span>
              Sample to the format data (Replace this with own data after paste it !) <img src="https://freepngimg.com/thumb/update_button/25530-9-update-button-image.png" width="50px" />
            </li>
          </ul>
        </div>
        <div class="col-6">
          <button class="btn btn-primary mb-3" (click)="copyToClipboard('new')">Copy HTML</button>
          <ul class="list-group">
            <li #copyContentnew class="list-group-item font-secondary-color p-2">
              <span class="fa fa-arrow-right font-secondary-color me-2"></span>
              Sample to the format data (Replace this with own data after paste it !) <img
                src="https://aktu.ac.in/images/new_red.gif" />
            </li>
          </ul>
        </div>
      </div>
      <p *ngIf="copySuccess" class="text-success mt-2">Copied to clipboard!</p>
    </div> -->


    <div class="mb-3 col-lg-12">
      <form [formGroup]="noticeForm">
        <!-- <h4 class="border-bottom mb-2">Notice Board</h4> -->

        <label>Notice Title</label>
        <input type="text" formControlName="notice" class="form-control" />

        <label class="mt-3">Notice URL</label>
        <div class="d-flex my-3">
          <div class="form-check d-block">
            <input class="form-check-input" type="radio" formControlName="urlType" value="text" id="urlText" (change)="onUrlTypeChange('text')" [checked]="noticeForm.get('urlType').value === 'text'"/>
            <label class="form-check-label" for="urlText">
              Text URL
            </label>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="form-check d-block">
            <input class="form-check-input" type="radio" formControlName="urlType" value="file" id="urlFile" (change)="onUrlTypeChange('file')" [checked]="noticeForm.get('urlType').value === 'file'"/>
            <label class="form-check-label" for="urlFile">
              File URL
            </label>
          </div>

        </div>

        <!-- Conditionally render the input based on radio button selection -->
        <ng-container *ngIf="noticeForm.get('urlType').value === 'text'">
          <input type="text" formControlName="noticeurl" class="form-control" />
        </ng-container>

        <ng-container *ngIf="noticeForm.get('urlType').value === 'file'">
          <div *ngIf="this.selectedFileName">{{this.selectedFileName}}</div>

          <input type="file" formControlName="noticeurl" (change)="onFileSelect($event)" accept=".pdf" class="form-control" />
        </ng-container>

        <input type="hidden" formControlName="id" />
        <button type="submit" class="btn col-2 mt-3 btn-primary" (click)="Add()"
          *ngIf="this.loader == false">{{isUpdate ? 'Update' :'Add'}}</button>
        <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
          <span class="sr-only">Loading...</span>
        </div>
      </form>
    </div>


    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Board</th>
          <th>Important</th>
          <th>Created Date</th>
          <th>File/Link</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of boardData">
          <td>{{ item.id }}</td>
          <td>
            <!-- <ul class="list-group" [innerHTML]="item.board"></ul> -->
             {{item.board}}
          </td>
          <td>
            <input
              type="checkbox"
              [checked]="item.isimportant === 1"
              (change)="toggleImportant(item)"
            />
          </td>
          <td>{{ item.createdAt | date: 'medium' }}</td>
          <td><a [href]="imgUrl+item.link">{{ item.link ?? '--' }}</a></td>
          <td><a class="btn btn-danger btn-sm" (click)="handleDelete(item.id)"><i class="fa fa-trash"></i></a>&nbsp;
            <!-- <a class="btn btn-danger btn-sm" (click)="handleEdit(list)"><i class="fa fa-edit"></i></a> -->
            &nbsp;
            <a class="btn btn-info btn-sm" (click)="handleEdit(item)">
              <i class="fa fa-pen"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>

