<app-card cardTitle=" " [options]="false">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary mb-3" (click)="copyToClipboard('')">Copy HTML</button>
          <ul class="list-group">
            <li #copyContent class="list-group-item font-secondary-color p-2">
              <span class="fa fa-arrow-right font-secondary-color me-2"></span>
              Sample to the format data (Replace this with own data after paste it !) <img src="https://freepngimg.com/thumb/update_button/25530-9-update-button-image.png" width="50px" />
            </li>
          </ul>
        </div>
        <div class="col-6">
          <button class="btn btn-primary mb-3" (click)="copyToClipboard('new')">Copy HTML</button>
          <ul class="list-group">
            <li #copyContentnew class="list-group-item font-secondary-color p-2">
              <span class="fa fa-arrow-right font-secondary-color me-2"></span>
              Sample to the format data (Replace this with own data after paste it !) <img
                src="https://aktu.ac.in/images/new_red.gif" />
            </li>
          </ul>
        </div>
      </div>





      <p *ngIf="copySuccess" class="text-success mt-2">Copied to clipboard!</p>

    </div>
    <div class="mb-3 col-lg-6">
      <form [formGroup]="noticeForm">
        <h4 class="border-bottom mb-2">Notice Board</h4>
        <angular-editor id="editor2" [config]="editorConfig" formControlName="notice"></angular-editor>
        <input type="hidden" formControlName="id" />
        <button type="submit" class="btn col-2 mt-3 btn-primary" (click)="Add()"
          *ngIf="this.loader == false">Add</button>
        <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
          <span class="sr-only">Loading...</span>
        </div>
      </form>
    </div>
    <div class="mb-3 col-lg-6">
      <form [formGroup]="importnatLinks">
        <h4 class="border-bottom mb-2">Impotant Links</h4>
        <angular-editor id="editor3" [config]="editorConfig" formControlName="implinks"></angular-editor>
        <input type="hidden" formControlName="id" />
        <button type="submit" class="btn col-2 mt-3 btn-primary" (click)="AddLinks()"
          *ngIf="this.loader2 == false">Add</button>
        <div class="spinner-border text-dark" role="status" *ngIf="this.loader2 == true">
          <span class="sr-only">Loading...</span>
        </div>
      </form>
    </div>
  </div>
</app-card>